<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Vinícula - Home</title>
</head>
<body class="bg-gray-100">
     <header class="flex justify-between gap-4 pr-40 pl-6 bg-brand-bordo text-brand-dourado py-6 text-center">
        
        <div class="w-28 h-28 gap-1">
            <img src="img/Aurora.jpg" class="w-full object-cover" alt="">
        </div>
        <div class="flex-1  my-3">
            <h1 class="text-3xl font-bold">Bem-vindos a Aurora Vinhos+</h1>
        <p class="mt-2">Organizando vinhos inesquecíveis para você!</p>
        <div class="my-3">
            <a class="text-lg hover:underline mx-2" href="/">Home</a>
            <a class="text-lg hover:underline mx-2" href="/servicos">Serviços</a>
            <a class="text-lg hover:underline mx-2" href="/nossaEmpresa">Nossa Empresa</a>
            <a class="text-lg hover:underline mx-2" href="/noticias">Notícias</a>
            <a class="text-lg hover:underline mx-2" href="/contato">Contato</a>
        </div>
    </header>
     <section class="container min-h-[80vh] mx-auto mt-8 p-6 text-center">
        <h2 class="text-3xl font-semibold mb-4">Notícias</h2>
        <p class="text-2xl text-center">Fique por dentro das últimas novidades da Aurora Vinhos! Aqui você encontra informações sobre lançamentos exclusivos, eventos especiais, harmonizações, curiosidades sobre o mundo dos vinhos e muito mais.

Nosso objetivo é aproximar você da nossa paixão pela enologia, trazendo conteúdos que inspiram e enriquecem sua experiência. Seja você um apreciador iniciante ou um conhecedor exigente, este espaço é feito para compartilhar conhecimento, tendências e, claro, brindar com novas histórias.</p>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="bg-white h-82 shadow-md p-4 rounded-lg mt-8">
                <img src="img/uvas.jpg" class="h-64 rounded-sm object-cover" alt="">
                <p class="mt-2">Aumentando nossa produção cada vez mais!</p>
            </div>
            <div class="bg-white h-82 shadow-md p-4 rounded-lg mt-8">
                <img src="img/equipe1.jpg" class=" h-64 rounded-sm object-cover" alt="">
                <p class="mt-2">Qualidade comprovada a cada garrafa!</p>
            </div>
            <div class="bg-white h-80 shadow-md p-4 rounded-lg mt-8">
                <img src="img/colheita1.1.png" class="h-64 rounded-sm object-cover" alt="">
                <p class="mt-2" >Aumentado nossa safra!</p>
            </div class="bg-white shadow-md p-4 rounded-lg">
        </div>  
    </section>

    <footer class="bg-brand-bordo text-brand-dourado text-center p-4 mt-8">
        <p>&copy; 2025 Auro Vinhos. Para todos os Paladares.</p>
    </footer>
</body>
</html>