<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Vinícula - Home</title>
</head>
<body class="bg-gray-100">
     <header class="flex justify-between gap-4 pr-40 pl-6 bg-brand-bordo text-brand-dourado py-6 text-center">
        
        <div class="w-28 h-28 gap-1">
            <img src="img/Aurora.jpg" class="w-full object-cover" alt="">
        </div>
        <div class="flex-1  my-3">
            <h1 class="text-3xl font-bold">Bem-vindos a Aurora Vinhos+</h1>
        <p class="mt-2">Organizando vinhos inesquecíveis para você!</p>
        <div class="my-3">
            <a class="text-lg hover:underline mx-2" href="/">Home</a>
            <a class="text-lg hover:underline mx-2" href="/servicos">Serviços</a>
            <a class="text-lg hover:underline mx-2" href="/nossaEmpresa">Nossa Empresa</a>
            <a class="text-lg hover:underline mx-2" href="/noticias">Notícias</a>
            <a class="text-lg hover:underline mx-2" href="/contato">Contato</a>
        </div>
    </header>

        <section class="container min-h-[80vh] mx-auto mt-4 gap-6 grid grid-cols-1">
        <h2 class="text-4xl text-center font-semibold mt-6 text-brand-azul">Catalogo de Vinhos</h2>
        <div class="my-4 grid grid-cols md:grid-cols-2 gap-6 ">
            <div class="grid grid-cols-2 gap-2">
                <img src="img/vinho branco1.jpg" class="w-full h-full rounded-lg shadow-md object-cover">
                <img src="img/vinho.jpg" class="w-full h-full rounded-lg shadow-md object-cover">
                <img src="img/vinhobranco.jpg" class="w-full h-full rounded-lg shadow-md object-cover ">
                <img src="img/vinhos.jpg" class="w-full h-full rounded-lg shadow-md object-cover">
            </div>
            <div>

<p class="text-2xl">
Descubra os rótulos exclusivos da Aurora Vinhos, onde tradição artesanal e tecnologia moderna se encontram para criar vinhos de excelência. Cada garrafa é fruto de um cuidadoso processo de produção híbrido, que preserva os aromas, sabores e a essência de nossas uvas selecionadas manualmente.

No nosso catálogo, você encontrará:</p>
<ul class="text-2xl">
  <li class="text-2xl"><strong>Aurora Tinto Reserva:</strong> corpo intenso, notas de frutas vermelhas maduras e toque sutil de carvalho.</li>
  <li class="text-2xl"><strong>Aurora Branco Suave:</strong> leve, refrescante, com delicadas notas florais e cítricas.</li>
  <li class="text-2xl"><strong>Aurora Rosé Clássico:</strong> elegante e versátil, ideal para harmonizações leves.</li>
  <li class="text-2xl"><strong>Aurora Espumante Brut:</strong> sofisticado, com perlage fina e frescor equilibrado.</li>
</ul>

<p class="text-2xl">Cada rótulo acompanha ficha técnica detalhada, incluindo tipo de uva, safra, teor alcoólico, região de produção e sugestões de harmonização.

Nosso catálogo é pensado para apaixonados por vinho, apreciadores iniciantes e experientes, além de empresas do setor de gastronomia que buscam oferecer qualidade e sofisticação aos seus clientes.</p>

<p class="text-2xl font-bold mb-4  text-brand-azul">Explore  o sabor, aroma e tradição de cada rótulo e viva a experiência Aurora Vinhos.</p>
            </div>
        </div>
    </section>




    <footer class="bg-brand-bordo text-brand-dourado text-center p-4 mt-8">
        <p>&copy; 2025 Auro Vinhos. Para todos os Paladares.</p>
    </footer>
</body>
</html>